<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  <h2>{{ title }}</h2>
  <div>
    <form action="/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Get">
    </form>
  </div>
  <div>
    <p>Username is: <b>{{ username }}</b></p>
      {% for proj in proj_scroll %}
        <dl>
          <dt><h4>Project name: {{ proj.name }}</h4></dt>
          <dt>Project URL: <a href="{{ proj.url }}">{{ proj.url }}</a></dt>
          <dt>Stars number: {{ proj.stars }}</dt>
          <dt>Merged user pull requests:</dt>
          {% for pr in proj.merged_pulls %}
          <dd><b>URL:</b><a href="{{ pr.url }}">{{ pr.url }}</a>; <b>comments number:</b> {{ pr.comments_number }}</dd>
          {% endfor %}
          {% if proj.unmerged_pulls %}
            <dt>Unmerged user pull requests URLs:</dt>
            {% for pr in proj.unmerged_pulls %}
              <dd><b>URL:</b><a href="{{ pr.url }}">{{ pr.url }}</a>; <b>comments number:</b> {{ pr.comments_number }}</dd>
            {% endfor %}
          {% endif %}
        </dl>
      {% endfor %}

  </div>
</body>
</html>