<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  <h2>{{ title }}</h2>
  <h3>Functionality is coming soon.</h3>
  <div>
    <form action="/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Get">
    </form>
  </div>
  <div>
    Username is: <b>{{ username }}</b>
    <dl>
      {%for proj in proj_scroll %}
        <dt>Project name: {{ proj.name }}</dt>
        <dt>Project URL: {{ proj.url }}</dt>
        <dt>Stars number: {{ proj.stars }}</dt>
        <dt>Merged user pull requests:</dt>
        {% for pr in proj.merged_pulls %}
          <dd>URL: {{ pr.url }}; comments number: {{ pr.comments_number }}</dd>
        {% endfor %}
        <dt>Unmerged user pull requests URLs:</dt>
        {% for pr in proj.unmerged_pulls %}
          <dd>URL: {{ pr.url }}; comments number: {{ pr.comments_number }}</dd>
        {% endfor %}
      {% endfor %}
    </dl>

  </div>
</body>
</html>